In [1]:
import pandas as pd

In [5]:
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"

In [3]:
from sqlalchemy import create_engine

In [6]:
df_zones = pd.read_csv(url)

In [7]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_zones')

In [12]:
len(df_zones)

265

In [13]:
df_zones.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [14]:
df_zones.shape

(265, 4)

In [15]:
dtype = {
    'LocationID': 'Int64',
    'Borough': 'str',
    'Zone': 'str',
    'service_zone': 'str'
}